.card-title-sm {
    font-size: 1.05em
}

@media (min-width: 576px) {
    .card-title-sm {
        font-size: 1.09em;
        padding-top: 2px
    }
    
}

.token-pay-amount {
    position: relative;
    align-self: center;
    width: 140px
}

.token-pay-currency {
    position: absolute;
    right: 0;
    top: 9px;
    transform: translate(0);
    z-index: 1;
    padding: 0 10px;
    border-left: 1px solid #d2dde9;
}

.token-pay-currency .input-hint {
    position: static;
    border: 0;
    padding: 2px;
    font-size: .8em;
}

.input-hint {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    color: #758698;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    z-index: 1;
    padding: 0 10px;
/*    background: #fff;*/
}

.ucap {
    text-transform: uppercase;
}

.note p, .note .note-text {
    font-size: 12px !important;
}

.note p, .note .note-text {
    font-size: 13px !important;
    line-height: inherit;
    display: block;
}

.chart-tokensale-long {
    height: 430px;
}
.chart-tokensale {
    height: 410px;
    position: relative;
}

.note {
    padding: 15px 15px 15px 45px;
    border-radius: 4px;
    position: relative;
    line-height: 1.4
}

.note [class*="fa"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 11px;
    width: 44px;
    text-align: center;
    line-height: inherit;
}

.gaps-1x {
    height: 10px;
}